$background: #333;

.slot.slot-single {
  $border-radius: 0 10px 10px 0;
  border-radius: $border-radius;
  background: $background;
  color: #fff;
  position: relative;
  cursor: pointer;

  &.slot-invalid {
    outline: 1px solid #f00;
  }

  &:hover {
    background: #000;

    .slot-image-wrapper {
      background: #aaa;

      .slot-image-inner {
        background: #555;
      }
    }
  }

  // When the slot has data present
  &.slot-ready {
    &:hover {
      .slot-remove {
        display: block;
        z-index: 10;
      }
    }
  }

  // During load state hijack the input with an overlay
  &.slot-loading {
    cursor: auto;
    pointer-events: none;
    
    .slot-loader {
      display: block;
    }
  }

  /* BEGIN re-usable components across different display formats */
  .slot-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover !important; // Force override Twitter Bootstrap bullshit
  }

  .slot-loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
    border-radius: $border-radius;
  }

  .slot-remove {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    border-radius: $border-radius;
    position: absolute;
  }

  .slot-image-wrapper {
    background: #ccc;
    display: inline-block;
    margin-right: 10px;

    .slot-image-inner {
      display: block;
      width: 100%;
      height: 100%;
      background: #888;
      overflow: hidden;
    }

    .slot-image-placeholder {
      text-align: center;
      width: 100%;
    }
  }
  /* END re-usable components */

  // Default view
  &.slot-normal {
    .slot-text {
      position: absolute;
      height: 100%;
      line-height: 50px;
      font-size: 20px;
      white-space: nowrap;
    }

    .slot-loader {
      line-height: 50px;
      border-radius: 0 10px 10px 0;
    }

    .slot-image-wrapper {
      width: 50px;
      height: 50px;
      padding: 5px;

      .slot-image-placeholder {
        font-size: 30px;
        line-height: 36px;
      }
    }

    .slot-remove {
      font-size: 40px;
      line-height: 50px;
      text-indent: 5px;
    }
  }

  // Mini size view for smaller locations
  &.slot-compact {
    .slot-text {
      position: absolute;
      height: 100%;
      line-height: 18px;
      font-size: 12px;
      white-space: nowrap;
      left: 25px;
      top: 0;
      letter-spacing: 0.5px;
    }

    .slot-loader {
      line-height: 18px;
      border-radius: 0 10px 10px 0;
    }

    .slot-remove {
      font-size: 12px;
      line-height: 18px;
      text-indent: 5px;
    }

    .slot-image-wrapper {
      width: 18px;
      height: 18px;
      margin-right: 10px;
      display: block;
    }
  }
}

#slot-modal-content {
  .slot-modal-thumb {
    display: block;
    width: 40px;
    height: 40px;
    background-size: cover !important;
    position: absolute;
    top: 0;
    left: 0;
    background: #ccc;
  }

  .list-group-item {
    padding-left: 50px;
    cursor: pointer;
  }
}